@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300|Source+Sans+Pro:300');
/*font-family: 'Fjalla One', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

/* ----- structure ----- */
.home {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #028090;
  background: -webkit-linear-gradient(-90deg, #23F0C7, #196C76); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #23F0C7, #196C76); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #23F0C7, #196C76); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #23F0C7, #196C76); /* Standard syntax */
  max-width: 100vw;
}

.banner  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  height: 500px;
  color: white;
}

/*.shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(52,52,52,0.32);
  -moz-box-shadow: 0px 0px 5px 0px rgba(52,52,52,0.32);
  box-shadow: 0px 5px 10px 0px rgba(52,52,52,0.32);
}*/

.welcome {
  background-color: white;
  max-width: 100%;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sequence-list, .sequence-show {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white !important;
  width: 100vw;
  height: 100%;
  margin-top: 5vw;
}

.sequence-show, .sequence-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin-top: 0;
}

.sequence-customize {
  margin-top: 5vw;
}

.recap {
  margin-top: 5vw;
}

.float-none {
  float: none;
}

/* ----- footer ----- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #196C76;
  width: 100%;
  color: white;
  /*margin-top: 5vw;*/
}

/* ----- buttons ----- */
.btn-lg {
  background: -webkit-linear-gradient(-90deg, #02C39A, #30CDAC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #02C39A, #14C96E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #02C39A, #14C96E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #02C39A, #14C96E); /* Standard syntax */
  box-shadow: 0 2px 5px  #193047;
  color: white;
  margin-top: 1.5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.btn-md {
  background: -webkit-linear-gradient(-90deg, #02C39A, #30CDAC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #02C39A, #14C96E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #02C39A, #14C96E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #02C39A, #14C96E); /* Standard syntax */
  box-shadow: 0 1px 2.5px  #193047;
  color: white;
  margin-top: 2.5vw;
}

.btn-lg:hover, .btn-md:hover {
  background: webkit-linear-gradient(-90deg, #02B28C, #2CBB9D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #02B28C, #2CBB9D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #02B28C, #2CBB9D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #02B28C, #2CBB9D); /* Standard syntax */
  color: white
}

.btn-lg:after {
  box-shadow: inset 0 5px 30px #193047;
}

.btn-breathe {
  margin-top: 3vw;
  margin-bottom: 3vw;
  padding: 4vw 8vw 4vw 8vw;
  font-size: 30px;
}


/* ----- lists ----- */
ul {
  margin-top: 2vw !important;
}

li {
  margin-bottom: 2vw !important;
}

.list-group-item {
  border: none !important;
}

/*.sequence {
  border-style: solid !important;
  border-width: thin !important;
  border-color: #D3D3D3 !important;
}*/

.sequence a {
  font-size: 25px !important;
  letter-spacing: 1.5px !important;
}

/* ----- images ----- */
.logo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

/* ----- type ----- */
h1 {
  font-size: 285% !important;
  letter-spacing: 1.5px;
}

h5 {
  letter-spacing: 1.5px;
  margin-bottom: 2vw;
}

.sequence h3, h5, p {
  color: #151515;
  letter-spacing: 0;
}

footer h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

.no-mb {
  margin-bottom: 0;
}

/* ----- link ----- */
.link {
  color: #196C76 !important;
  font-weight: bold !important;
}

.link:hover {
  text-decoration: none !important;
}


/* ----- animations ----- */
@keyframes spin {
	0% {
		transform: rotate(0deg) scale(2.0);
		color: #fff;
    opacity: 0.5;
	}
	45% {
		transform: rotate(180deg) scale(3.75);
		color: #fff;
	}
	50% {
		transform: rotate(180deg) scale(3.75);
		color: #fff;
    opacity: 1;
	}
	55% {
		transform: rotate(180deg) scale(3.75);
		color: #fff;
	}
	100% {
		transform: rotate(360deg) scale(2.0);
		color: #fff;
    opacity: 0.5;
	}
}

.spinner {
	/*font-size: 50vmin;*/
	animation: spin 8s ease-in-out infinite;
}
